Start here

<h1>Angular Basic Topics</h1>

<button (click)="onShow('if')">ngIf</button>
<button (click)="onShow('for')">For Task</button>
<button (click)="onShow('class')">Class Task</button>
<button (click)="onShow('form')">Form Task</button>

<!-- Conditional component rendering -->
<app-ng-if *ngIf="visibleComponent === 'if'"></app-ng-if>
<app-ng-for *ngIf="visibleComponent === 'for'"></app-ng-for>
<app-ng-class *ngIf="visibleComponent === 'class'"></app-ng-class>
<app-ng-forms *ngIf="visibleComponent === 'form'"></app-ng-forms>


<h1>Angular Logical Scenarios</h1>


<button (click)="onShow('plan')">Plan Selection</button>

<app-plan-selection *ngIf="visibleComponent === 'plan'"></app-plan-selection>

<app-train-booking></app-train-booking>